<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Better.Buy - Online Shopping</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->

    <link rel="icon" type="image/png" sizes="32x32" href="/images/demos/demo-3/logo.png">
    <link rel="manifest" href="/images/icons/site.html">

    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/stylesheets/vendor/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    
    



</head>

<body>

    

        <%- body %>





        
                                
</body>

</html>