<div class="container-fluid">
    <div class="container text-center" style="    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
        <div style="height: 100px; width: 100px; background-image: url(/assets/images/greentick.jpg); background-repeat: round;"></div>
        <!-- <img src="/public" style="height: 100px; width: 100px;" alt=""> -->
        <h1>Thank you.</h1>
        <p class="lead w-lg-50 mx-auto">Your order has been placed successfully.</p>
        <p class="w-lg-50 mx-auto">Your order number is <a href="#"><%= locals.orderID %></a>. We will immediatelly process your order and it will be delivered in 2 - 5 business days.</p>
    </div>
    <div class="container " style="    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
        <a href="/my-orders"><button class="btn btn-dark mt-2 mb-2">My orders</button></a>
        <a href="/products" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
        <div class="row">

            
            <!-- <div class="col-lg-3">
                <div class="card text-center mb-3">
                    <div class="py-5 px-4">
                        <img src="https://www.bootdey.com/image/280x280/6495ED/000000" alt="" class="img-fluid mb-4" />
                        <h3 class="fs-6 text-truncate"><a href="#" class="stretched-link text-reset">Smartphone 5G Black 12GB RAM+512GB NEW</a></h3>
                        <span class="text-success">$799.00</span> <del class="text-muted">$650.83</del>
                    </div>
                    <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                        <span class="d-block">10%</span>
                        <span class="d-block">OFF</span>
                    </div>
                </div>
            </div> -->
            
            
        </div>
    </div>
</div>